.App {
  min-height: 100%;
}

.App-header {
  align-items: center;
  justify-content: space-between;
  padding: 15px 58px;
  height: 64px;
  white-space: nowrap;
  background: #fff;
  box-shadow: 0 8px 24px -2px rgb(0 0 0 / 5%);
}

.header-title {
  font-weight: 200;
  color: #000;
  margin: 0;
}

.header-sub-title {
  font-weight: 100;
  margin: 0;
}
